.next-step-container {
    text-align: center;
  }
  
  .title {
    font-size: 40px; /* Tăng kích thước chữ tiêu đề */
    font-weight: bold;
    color: #333;
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    margin-bottom: 40px;
  }
  
  .option {
    max-width: 305px;
    text-align: center;
  }
  
  .option-title {
    font-size: 30px; /* Tăng kích thước chữ của tiêu đề khối */
    font-weight: bold;
    margin-bottom: 20px; /* Tăng khoảng cách dưới tiêu đề khối */
    color: #666;
  }
  
  p {
    font-size: 21px; 
    color: #999;
    margin-bottom: 30px; 
  }
  
  .action-button {
    padding: 24px 48px; 
    border: 2px solid #020202;
    background-color: white;
    font-size: 16px; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .action-button:hover {
    background-color: #000000;
    border-color: #888;
    color: white;
  }
  
/* Media Query for screens with width 1280px */
@media (max-width: 1280px) {
  .title {
      font-size: 36px; /* Giảm kích thước tiêu đề cho màn hình nhỏ hơn */
  }

  .option-title {
      font-size: 26px; /* Giảm kích thước chữ của tiêu đề khối */
  }

  p {
      font-size: 18px; /* Giảm kích thước đoạn văn */
  }

  .action-button {
      padding: 16px 32px; /* Giảm kích thước nút */
      font-size: 14px; /* Giảm kích thước chữ trong nút */
  }

  .options {
      gap: 40px; /* Giảm khoảng cách giữa các khối */
  }
}

/* Media Query for screens with width 799px (portrait orientation) */
@media (max-width: 799px) {
  .title {
      font-size: 28px; /* Giảm kích thước tiêu đề cho màn hình nhỏ hơn */
      margin-bottom: 30px;
  }

  .option-title {
      font-size: 24px; /* Giảm kích thước chữ của tiêu đề khối */
  }

  p {
      font-size: 16px; /* Giảm kích thước đoạn văn */
  }

  .action-button {
      padding: 12px 24px; /* Giảm kích thước nút */
      font-size: 12px; /* Giảm kích thước chữ trong nút */
  }

  .options {
      flex-direction: column; /* Đặt các khối theo chiều dọc cho màn hình nhỏ */
      gap: 30px; /* Điều chỉnh khoảng cách giữa các khối */
  }
}